@page "/storage/update/{id}"

<PageTitle>Editar almacenamiento</PageTitle>

<hr />
<h3>Editar almacenamiento</h3>
<hr />

<UpdateStorageComponent id="@(Guid.Parse(id))" />

@code {
    [Parameter]
    public string id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        id = id;
    }
}
