@page "/category/update/{id}"

<PageTitle>Editar categoria</PageTitle>

<hr />
<h3>Editar categoria</h3>
<hr />

<UpdateCategoryComponent id="@(Guid.Parse(id))" />

@code {
    [Parameter]
    public string id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        id = id;
    }
}
