@page "/product/update/{id}"

<PageTitle>Editar producto</PageTitle>

<hr />
<h3>Editar producto</h3>
<hr />

<UpdateProductComponent id="@(Guid.Parse(id))" />

@code {
    [Parameter]
    public string id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        id = id;
    }
}
