@using Entities
@using Business
@inject IWarehouseBusiness _warehouseBusiness
@inject NavigationManager _navManager

<div>
    <EditForm Model="warehouse">
        <div class="form-group">
            <label class="form-label">Nombre: </label>
            <InputText @bind-Value="warehouse.WarehouseName" class="form-control" />
        </div>
        <div class="form-group">
            <label class="form-label">Dirección: </label>
            <InputText class="form-control" @bind-Value="warehouse.WarehouseAddress"/>
        </div>

        <br />

        <input type="button" value="Crear bodega" @onclick="CreateWarehouse" />
    </EditForm>
</div>

@code {
    WarehouseEntity warehouse = new WarehouseEntity()
    {
        WarehouseId = Guid.NewGuid()
    };

    private void CreateWarehouse()
    {
        _warehouseBusiness.CreateWarehouse(warehouse);
        _navManager.NavigateTo("warehouse/list");
    }

}
