@using Entities
@using Business
@using FluentValidation
@using FluentValidation.Results
@inject IWarehouseBusiness _warehouseBusiness
@inject NavigationManager _navManager
@inject IValidator<WarehouseEntity> _warehouseValidation

<div>
    <EditForm Model="warehouse">
        <div class="form-group">
            <label class="form-label">Nombre: </label>
            <InputText @bind-Value="warehouse.WarehouseName" class="form-control" />
        </div>
        <div class="form-group">
            <label class="form-label">Dirección: </label>
            <InputText class="form-control" @bind-Value="warehouse.WarehouseAddress"/>
        </div>

        <br />

        <input type="button" value="Editar bodega" @onclick="UpdateWarehouse" />
    </EditForm>
</div>

<ErrorsValidations errors="@errors" />

@code {
    [Parameter]
    public Guid id { get; set; }

    WarehouseEntity warehouse = new WarehouseEntity();
    List<ValidationFailure> errors = new List<ValidationFailure>();

    private void UpdateWarehouse()
    {
        ValidationResult validationResult = _warehouseValidation.Validate(warehouse);

        if(validationResult.IsValid)
        {
            _warehouseBusiness.UpdateWarehouse(warehouse);
            _navManager.NavigateTo("warehouse/list");
        }
        else
        {
            errors = validationResult.Errors;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        warehouse = _warehouseBusiness.GetWarehouseById(id);
    }

}
