@using Entities
@using Business
@inject ICategoryBusiness _categoryBusiness
@inject NavigationManager _navManager

<div>
    <EditForm Model="category">
        <div class="form-group">
            <label class="form-label">Nombre: </label>
            <InputText class="form-control" @bind-Value="category.CategoryName" />
        </div>

        <br />
        
        <input type="button" value="Crear categoria" @onclick="CreateCategory"/>
    </EditForm>
</div>

@code {
    CategoryEntity category = new CategoryEntity()
    {
        CategoryId = Guid.NewGuid()
    };

    private void CreateCategory()
    {
        _categoryBusiness.CreateCategory(category);
        _navManager.NavigateTo("category/list");
    }
}
